@import "./react-toolbox/theme.css";
html, body {
  height: 100%;
  font-family: 'Abel', sans-serif;
}
.facebook {
  background-color: #3b5998 !important;
  color: #f7f7f7 !important;
}
.text-center {
  text-align: center
}
.center {
  margin: 0 auto;
}
.wrapper-card {
  padding: 20px 0px
}
